# <span style="color: pink"> **Python Bootcamp** <span>

#### **REU Resources:** 
- [REU Home](https://sites.google.com/colorado.edu/atoc-reu-website/home?authuser=1)
- [REU Student Schedule](https://docs.google.com/spreadsheets/d/1m3i73wd2N8GLeaGSG-E-EllFwRTBYX4gh1oqbM2-6PM/edit#gid=0)
- [Cryosphere Jargon](https://docs.google.com/presentation/d/1KbmiJU7ZH6oBm15LObe4C_xOwsveKsbLQbzT-E_jz6M/edit#slide=id.ga4efc0674c_0_180)
- [Butterposter](https://derekcrowe.net/butterposter)

#### **Programming Resources:**
- [w3schools](https://www.w3schools.com/python/python_operators.asp)
- [Numpy](https://numpy.org/doc/stable/)
- [Pandas](https://pandas.pydata.org/docs/user_guide/index.html#user-guide)
- [Matplotlib](https://matplotlib.org/stable/contents.html)
- [Choosing Colors in Matplotlib](https://matplotlib.org/stable/tutorials/colors/colormaps.html)

## <span style = 'color:pink'> ***(Day 1)*** </span>

#### **Challenge**
You will find a data file (boco_air_temp.csv) in this drive. Open a new Jupyter Notebook
and import the following packages: Pandas, Numpy, Matplotlib. Please load the datafile
into the notebook using Pandas and create a time series plot (e.g. data plotted against
time) of the average annual mean. Also create a plot with the lines for both March and
October. Once you have done this, please look at the matplotlib documentation and add
a title, labels for the axes, change the size of the graph, etc… (Basically make this a
prettier figure by exploring different plotting options).You will find a data file (boco_air_temp.csv) in this drive. Open a new Jupyter Notebook
and import the following packages: Pandas, Numpy, Matplotlib. Please load the datafile
into the notebook using Pandas and create a time series plot (e.g. data plotted against
time) of the average annual mean. Also create a plot with the lines for both March and
October. <span style= 'color:red'> Once you have done this, please look at the matplotlib documentation and add
a title, labels for the axes, change the size of the graph, etc… (Basically make this a
prettier figure by exploring different plotting options). </span>

In [22]:
!pwd

/Users/atoc_reu_student

In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
x=pd.read_csv('Downloads/Python Bootcamp/Day 1/boco_air_temp.csv')

,Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Average
0,1897,28.3,32.3,36.4,48.0,60.2,64.6,70.6,69.0,66.8,52.2,41.8,30.6,50.1
1,1898,30.7,38.8,35.7,49.2,51.9,66.6,72.2,73.0,62.1,49.0,36.6,29.3,49.6
2,1899,31.6,18.0,34.1,49.1,57.0,65.9,69.0,70.4,66,50.5,47.7,35.8,49.6
3,1900,37.0,31.6,43.2,45.8,59.8,69.6,70.7,72.2,61.6,57.2,44.6,38.9,52.7
4,1901,36.4,29.4,40.0,47.1,59.5,66.0,75.2,71.3,61.4,53.6,47.8,35.0,51.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2016,34.1,40.9,43.0,49.0,54.1,70.5,74.0,70.4,64.9,58.8,47.5,32.0,53.3
120,2017,32.2,42.3,50.3,48.9,55.7,68.7,73.9,69.0,63.5,51.5,47.5,36.4,53.3
121,2018,37.7,32.5,43.4,49.1,59.7,69.9,72.5,70.9,66.7,50.4,39.4,33.8,52.1
122,2019,34.9,31.0,37.2,50.2,51.2,64.6,73.1,73.8,67.6,45.7,39.1,35.7,50.3
123,2020,36.2,32.4,43.0,47.6,59.0,69.3,73.8,74.2,64.7,50.9,44.8,35.9,52.7

## <span style = 'color:pink'> ***(Day 2)*** </span>

In [17]:
import numpy as np

#Make a numpy array of values
a=np.array(['apple','orange','pear','watermelon','grapes'])

for i in a:
    print('The value in this spot is '+str(i))

The value in this spot is apple
The value in this spot is orange
The value in this spot is pear
The value in this spot is watermelon
The value in this spot is grapes